/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('~assets/fonts/noto-sans-v27-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('~assets/fonts/noto-sans-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/noto-sans-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/noto-sans-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('~assets/fonts/noto-sans-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/noto-sans-v27-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-600 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  src: url('~assets/fonts/noto-sans-v27-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('~assets/fonts/noto-sans-v27-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/noto-sans-v27-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/noto-sans-v27-latin-600.woff') format('woff'), /* Modern Browsers */
       url('~assets/fonts/noto-sans-v27-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/noto-sans-v27-latin-600.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-900 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 900;
  src: url('~assets/fonts/noto-sans-v27-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('~assets/fonts/noto-sans-v27-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('~assets/fonts/noto-sans-v27-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('~assets/fonts/noto-sans-v27-latin-900.woff') format('woff'), /* Modern Browsers */
       url('~assets/fonts/noto-sans-v27-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('~assets/fonts/noto-sans-v27-latin-900.svg#NotoSans') format('svg'); /* Legacy iOS */
}
